flake8<5 ; python_version < '3.7'
flake8 ; python_version >= '3.7'
pytest
pytest-flake8<1.1.0 ; python_version < '3.7'
pytest-flake8 ; python_version >= '3.7'
pytest-cov
pytest-xdist
pytest-pylint
pytest-mock
requests_mock
setuptools
